* {box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'Open Sans';
    color: #86878a;
    font-size: 0.8em;
}
.fat{
    color: #6d6e70;
    font-weight:bold;
    margin-top: 8;
    margin-bottom: 10;
}
.big{
    font-size: 1.3em;
}
span.fat{
    margin-top: 30;
    margin-bottom: 28;
}
.right.big{
    font-size: 1em;
}
.money{
    margin-top: 30;
}
p{
    margin: 4;
}
span{
    margin: 4;
}
form {
    position: relative;
    width: auto;
    margin: auto;
}
input {
    width: 98%;
    height: 22px;
    margin-left: 1%;
    border-color: #cecece;
    border-width: 1px;
    border-style: solid;
}
table{
    border-collapse:collapse;
    width: 100%;
    border-top: 2px solid #d9e2eb;
    margin-top: 2%;
    margin-bottom: 3%;
}
tr{
    border-bottom: 2px solid #d9e2eb;
}
td span{
    margin: 0;
}
table thead{
    background:#f7f7f7;
}
tbody{
    font-size: 0.8em;
}
.min_but{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.min_but::before {
    width: 22px; 
    height: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
    content: "";
}
.search_ico{
    background-image: url(resourse/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-right: 12%;
    margin-top: 0.5%;
    padding-right: 0;
}
.update_ico{
    background-image: url(resourse/update.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-right: -1%;
    margin-top: 0.5%;
}
.back_ico{
    background-image: url(resourse/back.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 3;
    margin-left: 10;
    padding-right: 0;
}
.mail_ico{
    background-image: url(resourse/mailto.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 25%;
    margin-bottom: 8%;
    margin-right: 10;
    padding-right: 0;
}
.menu_ico{
    background-image: url(resourse/menu.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5;
    margin-left: 2%;
}
.order_ico{
    background-image: url(resourse/list.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 70%;
    position: relative;
    margin-top: 15%;
    margin-bottom: 10%;
    padding-right: 0;
    margin-right: 10;
}
.filter_ico{
    background-image: url(resourse/filter.png);
    background-size: 20px 18px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 15%;
    margin-bottom: 10%;
    padding-right: 0;
    margin-right: 10;
}
.main{
    display: -webkit-flex;
	display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, #abc5de, #e6ebef);
}
.list_bar{
    background-color: white;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.2);
    width: 20%;
    height: 100%;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;   
    min-width: 270;
}
.order_bar{
    background-color: white;
    box-shadow: 10px -5px 20px rgba(65, 64, 64, 0.1);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 400;
    border-left: solid 1.5px #ececec;

}
.list_bar.hidden{
    display: none;
}
.list_bar.visible{
    display: block;
}
.order_bar.hidden{
    width: 100%;
}
.order_bar.visible{
    width: 60%;
}
#footer{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 40;
    background-color: #2f3b47;
}
.foo{
    padding-bottom: 2.3%;
}
.list{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
#list_order{
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#list_search{
    height: 5%;
    min-height: 27;
}
.blue_header{
    background-color: #eff4f8;
}
.blue_header.text_header{
    padding-right: 50%;
}
.text_header{
    text-align: right;
    margin: 0;
    padding-top: 5;
    padding-bottom: 8;
    padding-right: 40%;
}
#order_scroll{
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}
#order_items{
    background-color: #fafafa;
    height: 30%;
    min-height: 210;
    padding: 2%;
    padding-top: 4%;
}
#order_status{
    height: 20%;
    min-height: 180;
    padding: 2% 4% 0% 4%;
}
#order_info{
    height: 35%;
    min-height: 236;
}
#list_control{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 5%;
    min-height: 32;
}
.blue_header.order_header{
    display: flex;
    flex-direction: row;
    padding-right: 20%;
    justify-content: space-between;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.list_order_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.order_bar_c{
    display: flex;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.order_bar_butt{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.list_order_c{
    display: flex;
    flex-direction: column;
}
.right{
    text-align: right;
}
.left{
    flex-direction: column;
    text-align: left;
}
.list_order_c:hover{
    background-color: #e8eff5;
}
#list_bar hr{
    color: #f2f2f2; 
    background-color: #f2f2f2;
    border: none;
    height: 2;
    margin: 0;
}
#order_bar hr{
    color: #d9e2eb; 
    background-color: #d9e2eb;
    border: none;
    height: 2;
    margin: 0;
}
.hr{
    height: 2;
    background-color: #4378ae;
    width: 40;
    margin-left: -8;
    margin-top: 61;
}
.status_list{
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}
.status{
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.black{
    color: #6d6e70;
    font-weight:bolder;}
.Intime{
    color: #84b584;
}
.Urgent{
    color: orange;
}

.din_butt{
    border-radius: 100%;
    border: solid #4378ae;
    border-width: 2;
    width: 40px;
    height: 40px;
    background-color: #eff4f8;
    margin-left: 15;
    margin-top: 15;
    background-repeat: no-repeat;
    background-size: 30px;
}
.din_buttC{
    background-color: #4378ae;
    border-radius: 100%;
    border: solid #4378ae;
    border-width: 2;
    width: 40px;
    height: 40px;
    margin-left: 15;
    margin-top: 15;
    background-repeat: no-repeat;
    background-size: 30px;
}
.delivery{
    background-image: url(resourse/delivery_blue.png);
    background-position-x: 40%;
    background-position-y: -30%;
}
.deliveryC{
    background-image: url(resourse/delivery_white.png);
    background-position-x: 40%;
    background-position-y: -30%;
    outline: none;

}
.processor{
    background-image: url(resourse/worker_blue.png);
    background-position-x: 50%;
    background-position-y: 50%;
}
.processorC{
    background-image: url(resourse/worker_white.png);
    background-position-x: 50%;
    background-position-y: 50%;
    outline: none;
}