/* Style for imgs */
.min-but{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.min-but::before{
    width: 22px; 
    height: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
    content: "";
}

/* Buttons imgs */
.search-ico{
    background-image: url(button/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-right: 30;
    margin-top: 0.5%;
    padding-right: 0;
}
.update-ico{
    background-image: url(button/update.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-right: -1%;
    margin-top: 0.5%;
}
.back-ico{
    background-image: url(button/back.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 3;
    margin-left: 10;
    padding-right: 0;
}
.close-ico{
    background-image: url(button/close.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 3;
    margin-left: 10;
    padding-right: 0;
}
.mail-ico{
    background-image: url(button/mailto.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 25%;
    margin-bottom: 8%;
    margin-right: 10;
    padding-right: 0;
}
.menu-ico{
    background-image: url(button/menu.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 5 91% 0 96px;
    padding-right: 0;
}
.filter-ico{
    background-image: url(button/filter.png);
    background-size: 20px 18px;
    background-repeat: no-repeat;
    position: relative;
    padding-right: 0;    
    margin: 30% 10px 10% 0px;
}
.addOrder-ico{
    background-image: url(button/add.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30% -15 10% 15;
    padding-right: 0;
    padding-bottom: 40%;
}
.delOrder-ico{
    background-image: url(button/delete.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30% -15 10% 15;
    padding-right: 0;
    padding-bottom: 40%;
}
.editItem-ico{
    background-image: url(button/edit.png);
    background-size: 25px 23px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30% -15 10% 15;
    padding-right: 0;
    padding-bottom: 40%;
}
.editOrder-ico{
    background-image: url(button/edit.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding-right: 0;
    padding-bottom: 2%;
}
.arrowD-ico{
    background-image: url(button/arrowD.png);
    background-size: 14px 20px;    
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 2px 0 4 10;
}
.arrowU-ico{
    background-image: url(button/arrowU.png);
    background-size: 14px 20px;    
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 2px 0 4 10;
}
.arrowUD-ico{
    background-image: url(button/arrowUD.png);
    background-size: 12px 16px;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 4 0 4 10;
}


/* Imgs for buttons of order_status */
.delivery{
    background-image: url(button/delivery_blue.png);
    background-position-x: 40%;
    background-position-y: -30%;
}
.deliveryC{
    background-image: url(button/delivery_white.png);
    background-position-x: 40%;
    background-position-y: -30%;
    outline: none;

}
.processor{
    background-image: url(button/worker_blue.png);
    background-position-x: 50%;
    background-position-y: 50%;
}
.processorC{
    background-image: url(button/worker_white.png);
    background-position-x: 50%;
    background-position-y: 50%;
    outline: none;
}
.ymap{
    background-image: url(button/map_blue.png);
    background-position-x: 50%;
    background-position-y: 50%;
}
.ymapC{
    background-image: url(button/map_white.png);
    background-position-x: 50%;
    background-position-y: 50%;
    outline: none;
}

/* Styles for buttons of order_status, where it's onClick */
.din-butt{
    border-radius: 100%;
    border: solid #4378ae;
    border-width: 2;
    width: 40px;
    height: 40px;
    background-color: #eff4f8;
    margin-left: 15;
    margin-top: 15;
    background-repeat: no-repeat;
    background-size: 30px;
}
.din-buttC{
    background-color: #4378ae;
    border-radius: 100%;
    border: solid #4378ae;
    border-width: 2;
    width: 40px;
    height: 40px;
    margin-left: 15;
    margin-top: 15;
    background-repeat: no-repeat;
    background-size: 30px;
}


/*  */

