.emptyImg{
    margin: auto auto 0 auto;
    height: 25%;
    width: auto;
    min-height: 100;
}
.empty{
    margin-top: 0 !important;
    margin-bottom: auto !important;
    margin-left: auto;
    margin-right: auto;
}