/* Font style */
.fat{
    color: #6d6e70;
    font-weight:bold;
    margin-top: 8;
    margin-bottom: 10;
}
.big{
    font-size: 1.3em;
}
span.fat{
    margin-top: 30;
    margin-bottom: 28;
}
.right.big{
    font-size: 1em;
}
.black{
    color: #6d6e70;
    font-weight:bolder;
}


.money{
    margin-top: 30;
}
.main{
    display: -webkit-flex;
	display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, #abc5de, #e6ebef);
}
.list-bar{
    background-color: white;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.2);
    width: 20%;
    height: 100%;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;   
    min-width: 270;
    border-right: solid 1.5px #ececec;
    transition: all .5s cubic-bezier(0.25,0.1,0.25,1);
}
.order-bar{
    background-color: white;
    box-shadow: 10px -5px 20px rgba(65, 64, 64, 0.1);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 300;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.list-bar.side-bar{
    position: absolute;
    width: 80%;
    margin-left: -10%;
    z-index: 1;
}
.list-bar.side-barC{
    margin-left: -100%;
    position: absolute;
    z-index: 0;
}
.order-bar.hidden{
    display: block;
    width: 100%;
    position: absolute;
}
.order-bar.visible{
    width: 60%;
}
.list{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.list-order{
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-search{
    height: 5%;
    min-height: 27;
}
.blue-header{
    background-color: #eff4f8;
}
.blue-header.text-header{
    padding-right: 50%;
    padding-left: 30%;
}
.blue-header.order-header{
    padding-right: 30%;
}
.text-header{
    text-align: right;
    margin: 0;
    padding-top: 5;
    padding-bottom: 8;
    padding-right: 40%;
    white-space: nowrap;
}
.order-scroll{
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}
.order-items{
    height: 30%;
    min-height: 210;
    padding: 2% 5% 0% 5%;
}
.items-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.items-header .big{
    margin: 0;
}
.items-header input{
    margin: 0;
}
.items-header .search-ico{
    margin: 0;
}
.order-status{
    height: 20%;
    min-height: 180;
    padding: 2% 5% 0% 5%;
}
.order-info{
    height: auto;
    min-height: 236;
}
.blue-header.order-header{
    display: flex;
    flex-direction: row;
    padding-right: 20%;
    justify-content: space-between;
}
.list-order-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
}
.list-order-content:hover{
    background-color: #eeeeee;
}
.list-order-contentC{
    background-color: #d7e4f3;
}
.list-order-contentC:hover{
    background-color: #d7e4f3;
}
.order-bar-c{
    display: flex;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.order-bar-butt{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.list-order-c{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.right{
    text-align: right;
}
.left{
    flex-direction: column;
    text-align: left;
}
.list-bar hr{
    color: #f2f2f2; 
    background-color: #f2f2f2;
    border: none;
    height: 2;
    margin: 0;
}
.order-bar hr{
    color: #d9e2eb; 
    background-color: #d9e2eb;
    border: none;
    height: 2;
    margin: 0;
}
.status-list{
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}
.status{
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

/* Text color of order status*/
.Intime{
    color: #84b584;
}
.Urgent{
    color: orange;
}

/* Text cut style */
.textCut{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.order-content-l .textCut{
    width: 100%;
    -webkit-line-clamp: 2;
}
.order-bar-c .textCut{
    width: 80%;
    -webkit-line-clamp: 1;
}