<html>
    <head>
        <title>Order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/resourse/style/favicon.png" type="image/png">
        <link rel="stylesheet" href="/resourse/style/tagStyle.css">
        <link rel="stylesheet" href="/resourse/style/buttons.css">
        <link rel="stylesheet" href="/resourse/style/img.css">
        <link rel="stylesheet" href="/resourse/style/animation.css">
        <link rel="stylesheet" href="/resourse/style/index.css">
        <link rel="stylesheet" href="/resourse/style/orderEdit.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script src="/resourse/script/index.js"></script>
        <script src="/resourse/script/orderEdit.js"></script>
        <script src="/resourse/script/drowMap.js"></script>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=e6229ea0-4ef7-4442-bf82-67aba064bf0a" type="text/javascript"></script>
    </head>
    <body onload="start()">
        <div class="main">
            <div class="list-bar" id="list_bar">
                <div class="list">
                    <header id="list_control">
                        <button class="back-ico min-but" id="order_back"></button> 
                        <p class="text-header" id="order_count">Orders </p>
                        <button class="close-ico min-but hidden" onclick="SideBar(this)" id="CloseSideBar"></button>
                    </header>
                    <div class="list-search">
                        <form id="order-search" onsubmit="SearchHandler(this); return false;">
                            <input type="text" placeholder="Search">
                            <button class="search-ico min-but" id="search" type="submit"></button>
                            <button onclick="GetOrders()" class="update-ico min-but" id="update" type="button"></button>
                        </form>
                    </div>
                    <div class="list-order" id="list_order">

                    </div>
                    <footer>
                        <div>
                            <button class="addOrder-ico min-but" onclick="changeOrder('order', 'add')"></button> 
                        </div>
                        <div>
                            <button class="filter-ico min-but" onclick="searchFilter()"></button> 
                        </div>
                    </footer>
                </div>
            </div>
            <div class="order-bar" id="order_bar">
                <div class="list">
                    <header id="header">
                        <p class="blue-header text-header">Order</p>
                        <hr>
                    </header>
                    <div class="order-scroll" id="order_scroll">
                        <div class="order-info blue-header" id="order_info">
                            <div class="order-bar-c">
                                <div class="order-bar-c left">
                                    <span class="fat big textCut" id="order_id">Order</span>
                                    <span class="textCut" id="order_customer">Customer:</span>
                                    <span class="textCut" id="order_ord">Ordered:</span>
                                    <span class="textCut" id="order_ship">Shiped:</span>
                                </div>
                                <div class="right money">
                                    <span class="big" id="order_priceF"></span>
                                    <span id="order_currency"></span>
                                </div>
                            </div>
                            <div class="order-bar-butt">
                                <button class="din-buttC deliveryC" onclick="OpenStatus(this)" id="delivery"></button> 
                                <button class="din-butt processor" onclick="OpenStatus(this)" id="processor"></button> 
                                <button class="din-butt ymap" onclick="OpenStatus(this)" id="ymap"></button> 
                            </div>
                        </div>
                        <hr>
                        <div class="order-status" id="order_status">
                            <div class="js-loading">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="order-items" id="order_items">
                            <div class="items-header">
                                <span id="items_count" class="fat big">Line Items (0)</span>
                                <div class="items-header">
                                    <form id="order-items-search" onsubmit="SearchHandler(this); return false;">
                                        <input type="text" placeholder="Search">
                                        <button class="search-ico min-but" id="search" type="submit"></button>
                                    </form>
                                    <div>
                                        <button class="addOrder-ico min-but" onclick="changeOrder('itemAdd', 'add')"></button> 
                                    </div>
                                </div>
                            </div>
                            <div class="js-loading">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <table class="order-table table">
                                <thead id="table_head">
                                    
                                </thead>
                                <tbody id="table_items">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="order-content" id="order_content">
                        <img src="/resourse/style/img/empty.png" class="emptyImg">
                        <span class="big fat js-empty">Empty</span>
                    </div>
                    <footer>
                        <div class="items-header">
                            <div>
                                <button class="editItem-ico min-but visibilityN" onclick="changeOrder('order', 'change')"></button>
                            </div>
                            <div>
                                <button class="delOrder-ico min-but visibilityN" onclick="delOrder(this)"></button>
                            </div>
                        </div>
                        <div>
                            <button class="mail-ico min-but" id="sendmail">
                        </div>
                    </footer>
                </div>
            </div>

        </div>
    </body>
</html>